<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Index</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>


</head>
<body>




<div class="container">
    <h1>Movies</h1>

    <table class="table table-bordered">

        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Show</th>
                <th>Edit</th>
                <th>Delete</th>
             </tr>
        </thead>
        <tbody>
            <tr th:each="movie : ${movies}">
                    <td th:text="${movie.id}">123</td>
                    <td th:text="${movie.name}">movie</td>
                    <td><a href="#" th:href="@{'/movies/' + ${movie.id} +'/show'}">Show</a></td>
                    <td><a href="#" th:href="@{'/movies/' + ${movie.id} +'/edit'}">Edit</a></td>
                    <td><a href="#" th:href="@{'/movies/' + ${movie.id} +'/delete'}">Delete</a></td>
            </tr>

        </tbody>


    </table>

    <a href="/movies/new" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Movie</a>

</div>
</body>
</html>

